.nav {
  background-color: #003580;
  color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      cursor: pointer;
    }
    button {
      color: #003580;
      margin-left: 20px;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      &:hover {
        background-color: #f0f7fb;
      }
    }
  }
}
